* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 11px;
  font-family: Helvetica, Arial, Tahoma, sans-serif;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.content{
  background-color: #292728;
  padding-top: 20px;
  padding-left: 8px;
  padding-bottom: 5px;
}

.clear { clear: both;}

a { text-decoration: none; color: #0983CE;}

.content-top-left{width: 67%; float: left;}
.content-top-right{width: 32%; float: right;}

.daily-celebrity{
  display: flex;
}

/*wrap for gossip, pics class*/
.gossip,
.pics{
  width: 50%;
  background: white;
}

.gossip{border-right: 1px dotted; }

.gossip-title,
.pics-title {
  background: url(../images/h2-confidential-heading-bg.gif) repeat-x;
  color: white;
  border-bottom: 1px dotted;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
  padding-right: 2%;
}

.gossip-title h4,
.pics-title h4 {
  margin-left: 2%;
  font-size: 13px;  
}

.daily-logo img{
  width: 80%;
  height: 50%;
  padding-left:8px;
}

.daily-logo{background: white;}

.gossip-image-title,
.pics-image-title { position: relative;}

.gossip-more,
.pics-more {
  position: absolute;
  right: 9%;
  font-size: 12px;
  font-weight: bold;
  top: -1px;
}

.gossip img,
.pics img{
  width: 95%;
  margin: 0 auto;
  height: 20%;
  padding-left: 2%;
  padding-top: 2%;
}

.gossip-text,
.pics-text{
  padding-left: 2%;
}

.gossip-image-title img,
.pics-image-title img
{
  padding-top: 0;
}

/*wrap for logo-search class*/
.logo-search{
  padding-left: 10%;
}

.logo-search button {
  background-color: #a8407d;
  color: white;
  font-weight: bold;
  font-size: 10px;
  border: none;
  width: 68px;
  height: 17px;
}
/*wrap for movie class*/
.content-movie{
  margin-top: 15px;
}

.movie-trailer,
.movie-review{ 
  float: left;
  width: 32%;
  background: white;
}
.movie-title{
  background-image: url(../images/h2-top-movie-trailers-bg.gif);
  color: white;
  border-bottom: 1px dashed white;
  padding-top: 2%;
  padding-bottom: 1.5%;
  font-weight: bold;
  padding-left: 3%;
  font-size: 13px;
}

#accordion section #i1 { display: block;}
#accordion section #icon1 { background-position: top;}
#accordion section #icon2 { background-position: bottom;}
#accordion section #icon3 { background-position: bottom;}

#accordion section .trailer-content {
  display: none;
  padding-left: 3%;
  padding-top: 3%;
  border-bottom: 1px solid #a6a6a6;
  padding-bottom: 2%;
}
#accordion section:target .trailer-content { display: block;}
#trailer-title {
  background: url(../images/h3-movie-trailers-bg.gif) repeat-x;
  font-weight: bold;
  font-size: 12px;
  padding-left: 3%;
  border-bottom: 1px dotted #a6a6a6;
  color: #1086ba;
  letter-spacing: 1px;
  padding-top: 3px;
  padding-bottom: 3px;
  position: relative;
}
.icon {
  position: absolute;
  width: 8px;
  height: 8px;
  top: 6px;
  right: 10px;
  background: url(../images/top-movie-trailers-arrows.gif) no-repeat;
  background-position: bottom;
}
.trailer-img {
  float: left;
  width: 36%;
}

.trailer-text { width: 92%;}
#trailer-img-small { margin-left: -4px; float: left;}
#watchnow {  padding-top: 3px; float: left;}

.now-showing {
  padding-top: 2px;
  padding-bottom: 2%;
  margin-left: 2%;
  background: url(../images/now-showing-icon.gif) left center no-repeat;
}
.now-showing b { margin-left: 7%;}

option {
  font-weight: normal;
  display: block;
  white-space: pre;
  min-height: 1.2em;
  padding: 0px 2px 1px;
}
select#select-movie {
  width: 63%;
  margin-left: 2%;
  margin-top: 1px;
}

.movie-review{
	margin-left: 3%;
}

.review-box {
  padding-top: 1%;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 1%;
  border-bottom: 1px dotted #707070;
}

.review-box h3 {
  position: relative;
  color: #2A85C9;
}

.star {
  position: absolute;
  top: 1px;
  right: 4px;
  width: 60px;
  height: 14px;
  background-image: url(../images/topic-star-ratings.gif)
}
.star1 { background-position: 0 47%;}
.star2 { background-position: 0 35%; top: -1px;}

.review-box-content {
  display: flex;
  padding-top: 1%;
}
.content-text {
  margin-top: -2px;
  padding-right: 7%;
}
#content-img-big {
  margin-right: 8px;
  height: 65px;
}
#content-img-small {
  float: left;
  margin-left: -4px;
  margin-top: 6px;
}
#view-trailer {
  margin-top: 10px;
  font-weight: bold;
  float: left;
}

.review-footer {
  background: url(../images/icon_2.jpg) left center no-repeat;
  margin-left: 2%;
  padding-top: 3px;
  padding-bottom: 3px;
}
.review-footer a { margin: 8%;}
#more-movie {
  float: right;
  margin-right: 3%;
}

.content-bottom{
	margin-top: 25px;
}

/*navigation*/
.navigationbar {
  border-top: 1px dashed white;
  background-color: #2a2729;
}
.list-items {
  list-style-type: none;
  margin: 10px auto;
  padding-left: 4px;
  text-align: center;
  width: 109%;
  color: white;
}

.list-items li {
  display: inline-block;
  margin-right: 9%;
}

/*footer*/
.footer {
  margin-top: 8px;
  margin-bottom: 8px;
  background: white;
  color: blue;
}
.footer-list {
  list-style-type: none;
  padding-left: 12%;
}
.footer-list li { display: inline-block;  }
.footer-list p {
  display: inline;
  margin-left: 8%;
}
.footer-info {
  text-align: center;
  color: #0983CE;
}
