
/*! #######################################################################

	MeanMenu 2.0.6
	--------
	
	To be used with jquery.meanmenu.js by Chris Wharton (http://www.meanthemes.com/plugins/meanmenu/)

####################################################################### */

/* hide the link until viewport size is reached */
a.meanmenu-reveal {
	display: none;
}
div.nav{
	height:auto;
	margin:0;
	}
/* when under viewport size, .mean-container is added to body */
.mean-container .mean-bar {
	border-bottom:1px solid #808081;
	float:left;
	width: 100%;
	position: relative;
	background: #808081;
	padding: 4px 0;
	min-height: 42px;
	z-index: 999999;
}

.mean-container a.meanmenu-reveal {
	width: 22px;
	height: 22px;
	padding: 13px 13px 11px 13px;
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	text-indent: -9999em;
	line-height: 22px;
	font-size: 1px;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 700;
}
.mean-container a.meanmenu-reveal span {
	display: block;
	background: #fff;
	height: 3px;
	margin-top: 3px;
}

.mean-container .mean-nav {
	float: left;
	width: 100%;
	margin-top: 44px;
	height:auto;
}

.mean-container .mean-nav ul {
	padding: 0;
	margin: 0;
	width: 100%;
	list-style-type: none;
}

.mean-container .mean-nav ul li {
	position: relative;
	float: left;
	width: 100%;
	background: #fff;
    border-bottom: 1px solid #928a88;
	height:auto;
	z-index:1;
}

.mean-container .mean-nav ul li a {
	display: block;
	float: left;
	width: 90%;
	padding: 0 5%;
	margin: 0;
	
	text-align: center;
	z-index:9999999;
	height:56px;
}
img.menu_hide,
img.img_menu_bg,
span.img_menu_line_right{
	display:none;
	}	
/*.mean-container .mean-nav ul li a.menu_1{
	background:url(../images/menu_1_smart.jpg) no-repeat center center;
	}
.mean-container .mean-nav ul li a.menu_2{
	background:url(../images/menu_2_smart.jpg)  no-repeat center center;
	}
.mean-container .mean-nav ul li a.menu_3{
	background:url(../images/menu_3_smart.jpg) no-repeat center center;
	}
.mean-container .mean-nav ul li a.menu_4{
	background:url(../images/menu_4_smart.jpg) no-repeat center center;
	}
.mean-container .mean-nav ul li a.menu_5{
	background:url(../images/menu_5_smart.jpg) no-repeat center center;
	}*/
.mean-container .mean-nav ul li a.menu_1:hover,
.mean-container .mean-nav ul li.menu_1 a.active,
.mean-container .mean-nav ul li a.menu_2:hover,
.mean-container .mean-nav ul li.menu_2 a.active,
.mean-container .mean-nav ul li a.menu_3:hover,
.mean-container .mean-nav ul li.menu_3 a.active,
.mean-container .mean-nav ul li a.menu_4:hover,
.mean-container .mean-nav ul li.menu_4 a.active,
.mean-container .mean-nav ul li a.menu_5:hover,
.mean-container .mean-nav ul li.menu_5 a.active{
	opacity:0.6;
	filter:alpha(opacity=60); 
	}
img.img_menu,
img.line_menu{
	display:none;
	}		

.mean-container .mean-nav ul li.menu_3{
	height:auto !important;
	width:100%;
	}
.mean-container .mean-nav ul li.menu_3:hover ul.subNav{
    display: block;
    height: auto;
    padding: 0px;
    width: 100%;
}

.mean-container .mean-nav ul li ul.subNav li.subNav {
    border-top:1px solid #d9d8d7;
	border-bottom:none;
    height: auto !important;
    margin: 0 !important;
    padding: 0px !important;
    text-align: center;
    width: 100%;
}
.mean-container .mean-nav ul li ul.subNav li.subNav a.subNav {
    float: none !important;
    font-size: 12px;
    height: auto !important;
    margin-top: 0 !important;
    text-align: center;
	padding-top:15px !important;
	padding-bottom:15px !important;
	color:#2e2e2e;
}
.mean-container .mean-nav ul li ul.subNav li.subNav a.subNav:hover {
    text-decoration:underline;
}

	
a.mean-expand{
	height:22px !important;
	position:absolute;
	width:47px !important;
	right:0px !important;
	top:16px;
	padding:0px !important;
	font-size:15px !important;
	font-weight:bold;
	border:none !important;
	color:#808081;
	}
a.mean-clicked{
	height:22px !important;
	position:absolute;
	font-size:16px !important;
	font-weight:bold;
	border:none !important;
	color:#808081;
	}
