@media screen and (max-width: 644px) {

	header{
        float:none;
        height:auto;
    }
    div.inner {
        height: auto;
        margin: 0 auto;
        padding: 0 1%;
        text-align: center;
        width: 98%;
        min-width:50%;
    }

    div.float,
    img.float,
    .float {
        float: none;
        text-align: center;
        margin: 7px auto;
        position: static;
    }

    .show_pc{
		display:none !important;
	}
	.show_sp{
		display:inline-block !important;
	}

	.logo_banner{
		float: none;
	}

	div.inner {
		height: auto;
		margin: 0 auto;
		padding: 0 0.5%;
		text-align: center;
		width: 98%;
		min-width:50%;
	}

	.top-header{
		text-align: center;
	}

	div.nav{
		display: inline-block;
	}

	.logo_menu{
		float: none;
	}

	.nav_top li{
		margin: 0;
	}

	.nav_top li ul li a{
	    color: #000;
	    height: 30px !important;
	    line-height: 25px;
	}


	.mean-container .mean-nav ul li a{
		text-align: left !important;
	}

	.img_Content{
		margin: 5px 0 0 0;
	}

	div.wrap-right{
		text-align: center;
	}

	div.content-left{
		text-align: center;
		display: inline-block;
		float: none;
	}
	.bg_consutant{
		padding: 60px 0 0 0;
	}
	.img_content_left{
		width: 100%;
	}


	.new_bg img{
		float: none;
		margin: 5px 0;
	}

	.group_bottom_new{
		width: auto;
		height: auto;
		float: none;
	}

	ul.group_bottom_new li{
		line-height: 25px;
	}

	div.new_circle_doc{
	    display: inline-block;
	    float: none;
	    margin: 10px 0;
	}


	footer{
		margin: 20px 0 0 0;
	}
	ul.nav_footer_item{
		width: 100%;
		display: inline-block;
	}

	ul.logo_footer li{
		float: none;
		margin: 0;
	}

}