.container{
	overflow-y: scroll;
	width: 500px;
    height: 600px;
    margin: 0 auto;
}

a{
	text-decoration: none;
	color: black;
}
ul{
	list-style: none;
}
/*===========================*/
/*.listQA {
	display: flex;
  flex-direction: column-reverse;
}*/
.listQA li{
	padding-bottom: 2px;
	display: none;
}

.more{
	display: none;
	align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 10px 25px;
    background: #C00000;
    border: 1px solid #F6F6F6;
    color: white;
}

.more:hover{
	background: #F6F6F6;
	border: 1px solid #C00000;
	color: black;
}

/*============popup==============*/
.popup{
	position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
	text-align: center;
	padding:10% 5%;
	display: none;
}

.popup p{
	color: #FFF;
}
.popup_content{
	position: absolute;
    left: 30%;
    top: 10%;
    width: 400px;
    background: black;
	text-align: center;
	padding:0 5px;
}

.popup-item{
	padding: 20% 20%;
}


/* The Close Button */
.close {
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
    float: right;
}

.close:hover,
.close:focus {
    text-decoration: none;
    cursor: pointer;
}
