@media only screen and (max-width: 644px){
    div.float,
    img.float,
    a.float,
    .float{
        float:none;
        text-align:center;
        margin:7px auto;
        display:inline-block;
    }

    .phone_pc{
        display:none !important;
    }
    .phone_sp{
        display:inline-block !important;
    }

    .img_header{
        display: inline-block;
        height: auto;
        margin-bottom: 0 10px;
        max-width: 100%;
    }

    .main-top {
        float: none;
        padding-top: 10px;
    }
    header{
        float:none;
        width: 100%;
    }
    div.inner {
        height: auto;
        margin: 0 auto;
        padding: 0 1%;
        text-align: center;
        width: 98%;
        min-width:50%;
    }

    .group_header{
        width: 100%;
    }

    .logo {
        margin: 0 auto 10px;
        width: 100%;
        text-align: center;
        padding: 10px 0 0;
    }
    .group_phone {
        margin: 0 auto;
        width: 100%;
        text-align: center;
    }

    div.content_right{
        float: none;
        width: 98%;
        margin: 0 auto;
    }
    h3.h3_right{
        width: 99%;
        margin: 0 auto;
    }

    .pageTop{
        padding: 20px 0 10px 0;
        float: none;
        margin: 0 auto;
        width: 100%;
    }

    div.ft_left{
        float: none;
        text-align: left;
        padding-bottom: 20px;
    }

    .footerMenu li {
        display: block;
        padding: 0 8px 0 8px;
        background: none;
    }


    .footerMenu{
        float: none;
    }

    footer{
        margin-top: 0px;
    }

    .copyright{
        padding-top: 10px;
    }

}