@charset "utf-8";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead {border: 0;font-family: inherit;font-size: 100%;font-style: inherit;font-weight: inherit;margin: 0;outline: 0;padding: 0;}
:focus {outline: 0;}

ol, ul {list-style: none;}
caption{font-weight: normal;text-align: left;}
blockquote:before, blockquote:after,q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}
a{ text-decoration:none; font-family:'Lucida Grande','Hiragino Kaku Gothic ProN',Meiryo, sans-serif;}
a img {border: 0;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}

body {
    color: #7a7a7a;
    font-family: 'Lucida Grande','Hiragino Kaku Gothic ProN',Meiryo,sans-serif;
    font-size: 14px;
	background:#fff;
}
.clear{
	clear:both;
}
.phone_sp{
	display:none;
}

img.img_href:hover,
img.img_5:hover,
img.header_mail:hover,
img.button_1:hover,
a.button_4 img:hover,
p.page_top a img:hover,
a.footer_href img:hover,
img.img_b_r:hover,
img.button_banner:hover
{
    opacity:0.6;
	filter:alpha(opacity=60);
}

/*==========header==========*/
header{
	width:100%;
	height:auto;
	display:inline-block;
	margin:0 auto;
	position:relative;
	z-index:200;
	background:url(../images/header_top.jpg) repeat-x center top;
	padding-top:20px;
	float:left;
}
div.inner {
    height: auto;
    margin: 0 auto;
    width: 100%;
	height:auto;
	display:block;
	min-width:976px;
	max-width:976px;
	position:relative;
	clear:both;
}
img.header_logo{
	float:left;
	max-width:352px;
	width:100%;
	height:75px;
}

div.header_info{
	float:right;
	max-width:429px;
	width:100%;
	height:auto;
	margin-top:10px;
	display:inline-block;
}
img.phone_l,
img.phone_r,
img.header_mail{
	float:left;
}

img.phone_sp{
	display:none;
}

/*==========banner==========*/
div.banner{
	width:100%;
	height:318px;
	display:inline-block;
	margin:3px auto 2px auto;
	position:relative;
	z-index:200;
	background:url(../images/bg_banner.png) repeat-x center top;
	text-align:center;
	float:left;
}
div.slide{
	height:318px;
	width:100%;
	max-width:976px;
	min-width:976px;
	display:block;
	text-align:center;
	margin:0px auto;
	position:relative;
}
img.banner{
	height:318px;
	width:100%;
	max-width:976px;
	min-width:976px;
	text-align:center;
	margin:0px auto;
	position:relative;
}

a.h_b_1{
    bottom: 11%;
    height: 23px;
    left: 33%;
    position: absolute;
    width: 116px;
}
a.h_b_2{
    bottom: 11%;
    height: 23px;
    right: 1.5%;
    position: absolute;
    width: 116px;
}

/*==========menu==========*/
div.nav{
	width:100%;
	height:71px;
	display:inline-block;
	position:relative;
	z-index:999;
	float:left;
	background:url(../images/bg_menu.jpg) repeat-x left bottom;
}

nav.menu{
	height: auto;
    margin: 0 auto;
    width: 100%;
	height:auto;
	display:block;
	min-width:986px;
	max-width:986px;
}
nav.menu ul{
	margin:0;
	padding:0;
}
nav.menu ul li{
	float:left;
	width:162px;
	height:65px;
	border-left:2px solid #fff;
}
nav.menu ul li.menu_6{
	border-right:2px solid #fff;
}
nav.menu ul li a{
	width:100%;
	height:63px;
	text-align:center;
	display:block;
	position:relative;
}
nav.menu ul li.menu_4 ul.subNav {
    display: none;
}
div.menu li.menu_4:hover ul.subNav {
    display: block;
    height: auto;
    position: absolute;
    top: 57px;
    width: 162.5px;
	background:#fde59e;
}

div.menu ul li ul.subNav li.subNav {
    height: auto !important;
    margin: 0 !important;
    padding: 7px 0;
    text-align: center;
    width: 100%;
	border:none;
	border-bottom:1px solid #fff;
}
div.menu ul li ul.subNav li.subNav:hover {
    background: #fcdb81;
	}
div.menu ul li ul.subNav li.subNav a.subNav {
    color: #595959;
    float: none !important;
    font-size: 14px;
    height: auto !important;
    text-align: center;
	font-weight:bold;
	z-index:999999999 !important;
}

div.content-left{
	width:100%;
	max-width:645px;
	height:auto;
	float:left;
	margin-top:30px;
}
div.article_index{
	width:100%;
	height:auto;
	text-align:center;
}
div.group_index{
	float:left;
	width:314px;
	height:auto;
	text-align:left;
}

img.img_1{
	float:left;
}

div.group_index	p{
	float: left;
    font-size: 12px;
    margin-left: 10px;
    text-align: left;
    width: 165px;
	line-height:17px;
}

div.group_index	p a{
	float:right;
}

div.group_index	p a.button_2{
	margin-top:15px;
}