* {
  margin: 0;
  padding:0;
}
body { 
  font-family: Helvetica, sans-serif;
  font-size: 12px;
}

.container{
  background: #e6f3fb;
  width: 300px;
  margin: 0 auto;
  padding-top: 3px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.blogroll-title,
.horoscopes-title,
.getnews-title
{
  font-size: 15px;
  font-weight: bold;
  border-bottom: 2px solid #ffa500; 
}

/*wrap for blogroll class*/
.blogroll-top{
  background: #FFFFFF;
  height: 100px;
}

.blogroll-left{
  float: left;
  width: 52%;
  padding-left: 3%;
  padding-top: 8px;
  padding-bottom: 4px;
}

.blogroll img{
  border: 1px solid #cccccc;
  width: 160px;
  height: 80px;
}

.blogroll-right{
  float: right;
  width: 40%;
  padding-top: 8px;
}

.blogroll-right h3 { color: #44a39f;}

.blogroll-right p { padding-right: 4px;}

#p-italic { font-style: italic;}

.blogroll ul li {
  color: #44a39f;
  list-style: none;
  background: #fbf0c0;
  height: 25px;
  padding-left: 3%;
  padding-top: 10px;
  margin-bottom: 1px;
  border-bottom: 2px solid white; 
}

/*wrap for horoscopes class*/
.horoscopes{margin-bottom: 20px;}

.horoscopes-top{
  background: #FFFFFF;
  height: 155px;
  padding-top: 20px;
}

.horoscopes img{
  width: 80px;
  height: 90px;
}

.horoscopes-left{
  float: left;
  width: 28%;
  padding-left: 3%;
  padding-top: 8px;
  padding-bottom: 4px;
}

#horoscopes-time {color: #808080;}

.horoscopes-right{
  float: right;
  width: 65%;
  padding-top: 8px;
}

#a-nostyle { 
  text-decoration: none;
  font-weight: bold;
  color: #44a39f;
  font-size: 13px;
}

.horoscopes-bottom{
  background:  #f4f4ec;
  height: 50px;
}

.horoscopes-bottom-text{
  float: left;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.horoscopes-bottom-image img{
  float: right;
  width: 70px;
  height: 50px;
}

/*wrap for blogroll class*/
.getnews-content{
  background: #FFFFFF;
  height: 100px;
}

.getnews-left{
  float: left;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  width: 45%;
}

.getnews-right{
  float: right;
}

.getnews-right img{
  width: 120px;
  height: 100px;
}

/*wrap for blogroll class*/
.competitions{
  margin-top:5px;
  border-top: 1px solid #dadada;
}
.competitions-title{
  padding-top: 5px;
  font-weight: bold;
}
.competitions-content{
  background: #FFFFFF;
}

.competitions ul {
  padding-left: 3%;
  padding-top: 3%;
  padding-bottom: 3%
}
.competitions ul li {
  list-style: none;
}
.competitions a {
  text-decoration: none;
  color: #41a19b;
}


