charset "utf-8";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead {border: 0;font-family: inherit;font-size: 100%;font-style: inherit;font-weight: inherit;margin: 0;outline: 0;padding: 0;}
:focus {outline: 0;}

ol, ul {list-style: none;}
caption{font-weight: normal;text-align: left;}
blockquote:before, blockquote:after,q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}
a{ text-decoration:none; font-family:'Lucida Grande','Hiragino Kaku Gothic ProN',Meiryo, sans-serif;}
a img {border: 0;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}

p.art_btn:hover,
a.art_link:hover,
a.link_aside:hover,
a.ft_box_1_link:hover,
#page-top a:hover {
  opacity: 0.6;
filter: alpha(opacity=60); }

body {
    color: #703200;
    font-family: 'Lucida Grande','Hiragino Kaku Gothic ProN',Meiryo,sans-serif;
    font-size: 12px;
	background:url(../images/bg.png) #F66E00 no-repeat center top;
}

.clear_fix{
	clear:both;
}

.phoneMobile{
	display:none;
}

div.container{
	width: 100%;
	margin:0 auto;
	height: auto;
}

div.content-left {
    width: 30%;
    max-width: 176px;
    min-width: 176px;
    height: auto;
    text-align: center;
   /* float: left;*/
}

div.content-right{
	width: 70%;
    max-width: 738px;
    min-width: 738px;
    height: auto;
    /*float: right;*/
    text-align: center;
    margin-top: 22px;
    margin-left: 45px;
    display: inline-block;
}

div.inner {
    height: auto;
    margin: 0 auto;
    width: 100%;
	height:auto;
	display:block;
	min-width:960px;
	max-width:960px;
	position:relative;
	clear:both;
}
div.content {
    height: auto;
    margin: 0 auto;
    width: 100%;
	height:auto;
	display: flex;
	min-width:960px;
	max-width:960px;
	position:relative;
}

div.logo{
	max-width:258px;
	height:auto;
	float:left;
	width:100%;
	position:absolute;
}

a.logo_top{
	width: 100%;
	height: auto;
	display:inline-block;
	text-align:left;
}

a.logo_top img{
	width: 100%;
	height: 169px;
}

div.header-right{
	float: right;
	text-align: right;
	display: inline-block;
}


/*===========MENU NAV===========*/
div.aside {
    float: left;
    width: 176px;
    height: auto;
    text-align: center;
}

div.nav{
	width:100%;
	display:inline-block;
	position:relative;
	margin-top:50px;
	float:left;
	font-size: 14px;
}

div.menu{
    margin: 0 auto;
    width: 100%;
	height:auto;
	display:block;
	min-width:176px;
	max-width:176px;
	color: #FFFFFF;
}

div.menu ul{
	margin:0;
	padding:0;
	width:99.7%;
	display:inline-block;
}

div.menu ul li{
	float:left;
	width:176px;
	height:40px;
	padding-left:1px;
}

div.menu ul li a{
	width:100%;
	height:40px;
	text-align:center;
	display:block;
	float:left;
	position:relative;
	color: #FFFFFF;
}

div.menu ul li a.menu_1:hover,
div.menu ul li.menu_1 a.active,
div.menu ul li a.menu_2:hover,
div.menu ul li.menu_2 a.active,
div.menu ul li a.menu_3:hover,
div.menu ul li.menu_3 a.active,
div.menu ul li a.menu_4:hover,
div.menu ul li.menu_4 a.active,
div.menu ul li a.menu_5:hover,
div.menu ul li.menu_5 a.active,
div.menu ul li a.menu_6:hover,
div.menu ul li.menu_6 a.active,
div.menu ul li a.menu_7:hover,
div.menu ul li.menu_7 a.active{
	color:#9ec914;
}

div.menu ul li.menu_4 ul.subNav,
div.menu ul li.menu_3 ul.subNav{
    display: none;
}

div.menu li.menu_4:hover ul.subNav,
div.menu li.menu_3:hover ul.subNav{
    display: block;
    height: auto;
    position: absolute;
    left: 115px;
    width: 104px;
    z-index: 300;
}

div.menu ul li ul.subNav li {
	background: url(../images/bg_nav.png) repeat top left;
	width: 100%;
	height:auto;
	display:inline-block;
	padding:4px 0;
	margin-left: 10px;
}

div.menu ul li ul.subNav li.subNav a.subNav {
    color: #fff;
    float: none !important;
    height: auto !important;
    width:auto;
    text-align: center;
	font-size:14px;
}

div.menu ul li ul.subNav li.subNav a.subNav:hover{
	color:#9ec914;
}


.img_time{
	width: 100%;
	max-width: 170px;
	margin: 10px 0;
}

.google_map_sidebar iframe{
	width:98%;
	height:170px;
}

/*===========BANNER===========*/
div#banner{
	width:100%;
	height:369px;
	display:inline-block;
	position:relative;
	z-index:200;
}

#banner img{
	display:block;
	width: 95%;
}

.txt_top_sidebar{
	font-weight:bold;
	text-align:left;
	margin-bottom:20px;
	margin-top:30px;
}

div.article_index {
    width: 100%;
    height: auto;
}

/*content index*/
ul.art_ul li {
	background: url(../images/art_box_bg.png) repeat top left;
	display: inline-block;
	width: 192px;
	padding: 10px 15px;
	color: #FFF;
}

ul.art_ul li.art_li_cen {
	margin: 12px;
}

div.art_box_1 {
	overflow: hidden;
	background: url(../images/art_box_bg.png) repeat top left;
	padding: 15px;
	margin-top: 40px;
	text-align: left;
	margin-left: 40px;
}

div.art_box_1 img.art_img_2 {
    display: block;
    margin-bottom: 20px;
}

div.art_box_1 img.art_img_3{
    float: left;
    margin-right: 20px;
}

div.art_box_1 div.text_box_1 {
    float: left;
    max-width: 100%;
    width: 450px;
    height: auto;
    color: #703200;
}

div.art_box_1 div.text_box_1 p.art_text_price {
	font-size: 18px;
	color: #f32e00;
	margin-top: 15px;
}
div.art_box_1 div.text_box_1 p.art_btn {
	float: right;
	margin-top: 30px;
}

div.art_box_2 {
	margin-top: 35px;
	overflow: hidden;
	margin-left: 40px;
}

div.art_box_2 .art_img_4 {
    float: right;
}

div.art_box_2 div.art_box_2_child_1 {
    float: left;
    width: 280px;
    padding: 15px;
    height: 185px;
    background: url(../images/art_box_bg.png) repeat left top;
}

div.art_box_2 div.art_box_2_child_1 .info {
	display: inline-block;
	margin-top: 10px;
	text-align: left;
	color: #fff;
	width: 100%;
}

div.art_box_2 div.art_box_2_child_1 .info dd {
    margin: -1.5em 0 20px 0px;
    padding: 0 0 8.5px 8.8em;
    border-bottom: 1px solid #f77300;
}

div.art_box_2 div.art_box_2_child_2 {
    float: left;
    width: 320px;
    padding: 15px;
    margin-left: 34px;
    height: 185px;
    background: url(../images/art_box_bg.png) repeat left top;
}

div.art_box_2 div.art_box_2_child_2 dl.nail_info {
	margin: 9px 0;
	height: 54px;
	font-size: 12px;
}

div.art_box_2 div.art_box_2_child_2 dl.nail_info img.art_box_2_img {
	float: left;
	margin-right: 20px;
}

div.art_box_2 div.art_box_2_child_2 dl.nail_info dd {
	text-align: right;
	margin-top: 5px;
}
div.art_box_2 div.art_box_2_child_2 dl.nail_info dd a {
	color: #703200;
}

/*footer*/
footer {
	background: url(../images/ft_bg2.png) repeat left top;
	margin-left: auto;
	margin-right: auto;
	margin-top: 120px;
	width: 100%;
	float: left;
	display: block;
	height: auto;
	z-index: 100;
	margin-bottom: -30px;
	position: relative;
}

footer div.ft_inner {
	min-width: 1035px;
	max-width: 1035px;
}

footer #page-top {
	margin-left: auto;
	margin-right: auto;
	font-size: 12px;
	z-index: 100;
	text-align: center;
	left: 0;
	right: 0;
	top: -50px;
	position: absolute;
}

footer div.ft-bg-dra {
	background: url(../images/ajin-nail_03.png) no-repeat left top;
	width: 318px;
	height: 294px;
	float: left;
	position: relative;
	left: -70px;
}

footer .ft_top {
    margin-left: 323px;
}

footer .ft_top div.menu_footer {
	float: left;
	height: auto;
	text-align: left;
	width: 100%;
	max-width: 370px;
}

footer .ft_top div.menu_footer ul {
	display: inline-block;
	vertical-align: top;
}
footer .ft_top div.menu_footer ul li {
	padding: 20px 20px 0 0;
	text-indent: 20px;
	text-align: left;
	margin: 2px 0;
}

footer .ft_top div.menu_footer ul li a {
	font-size: 12px;
	color: #fff;
}
footer .ft_top div.menu_footer ul li a:hover {
	color: #9ec914;
	text-decoration: underline;
}

footer .ft_top div.menu_footer .ft_u1 {
	background: url(../images/ft_bg5.png) repeat left top;
	width: 122px;
	padding-bottom: 20px;
	margin-right: 15px;
	color: #ffffff;
	font-weight: bold;
}
footer .ft_top div.ft_box {
	float: right;
	text-align: center;
}
footer .ft_top div.ft_box div.ft_box_1 {
    background: url(../images/ft_bg4.png) repeat left top;
    width: 221px;
    height: 150px;
    margin-bottom: 20px;
}

footer .ft_top div.ft_box div.ft_box_1 .ft_box_1_link {
	margin-top: 30px;
	display: inline-block;
}

footer .ft_top div.ft_box p {
    width: 100%;
    font-size: 14px;
    margin: 5px 0;
    text-align: center;
    height: auto;
}

footer p.copyright {
    clear: both;
    width: 100%;
    display: block;
    vertical-align: bottom;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    bottom: 5px;
}
