html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
}

:focus {
  outline: 0;
}

ol, ul {
  list-style: none;
}

caption {
  font-weight: normal;
  text-align: left;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

blockquote, q {
  quotes: "" "";
}

a {
  text-decoration: none;
  font-family: 'Lucida Grande','Hiragino Kaku Gothic ProN',Meiryo, sans-serif;
}

a img {
  border: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  color: #333333;
  font-family: 'Lucida Grande','Hiragino Kaku Gothic ProN',Meiryo,sans-serif;
  font-size: 12px;
  background: #fff;
}

p {
  line-height: 1.6em;
}

strong {
  font-weight: bold;
}

a img:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.phone_sp {
  display: none;
}

/*===========header=============*/
header {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  display: block;
  float: left;
  height: auto;
  z-index: 99;
  border-top: 4px solid #17449c;
}

div.inner {
  height: auto;
  margin: 0 auto;
  width: 100%;
  height: auto;
  display: block;
  min-width: 960px;
  max-width: 960px;
  position: relative;
  clear: both;
  text-align: left;
}

h1 {
  font-size: 12px;
  color: #808080;
  text-align: left;
  margin: 10px 0;
}

.logo img {
  float: left;
  width: 306px;
  margin-bottom: 15px;
}

.hd_right {
  float: right;
  width: 320px;
  margin-top: 10px;
}

.hd_right img {
  vertical-align: middle;
  padding: 0 0 0 10px;
  margin-bottom: 10px;
}

.hd_right img.hd_text {
  padding-right: 10px;
  border-right: 1px solid #dcdcdc;
}

/*===========nav=============*/
div.nav {
  background: #17449c;
  border-bottom: 1px solid #03266c;
  clear: both;
}

div.menu {
  width: 100%;
  max-width: 960px;
  min-width: 960px;
  margin: 0 auto;
  height: 50px;
}

div.menu ul {
  background: url(../images/line_menu.jpg) no-repeat right center;
  display: inline-block;
  width: 100%;
}

div.menu ul li.menu_6:hover ul.subNav {
  width: 150px;
  background: #17449c;
  height: auto;
  position: absolute;
  top: 50px;
  left: 2px;
  display: block;
}

div.menu ul li {
  display: inline-block;
  float: left;
  background: url(../images/line_menu.jpg) no-repeat left center;
  padding-left: 6px;
  padding-right: 4px;
  position: relative;
}

div.menu ul li a {
  display: block;
  width: 100%;
  height: 50px;
}

div.menu ul li ul.subNav {
  display: none;
}

div.menu ul li ul.subNav li.subNav {
  float: none;
  width: 100%;
  background: none;
  padding: 5px 0;
}

div.menu ul li ul.subNav li.subNav:hover {
  background: #00ace6;
}

div.menu ul li ul.subNav li.subNav a {
  height: auto;
  color: #fff;
  text-align: center;
}

div.menu ul li.menu_1 {
  width: 68px;
}

div.menu ul li.menu_2 {
  width: 97px;
}

div.menu ul li.menu_3 {
  width: 125px;
}

div.menu ul li.menu_4, div.menu ul li.menu_7 {
  width: 102px;
}

div.menu ul li.menu_5 {
  width: 158px;
}

div.menu ul li.menu_6 {
  width: 141px;
}

div.menu ul li.menu_8 {
  width: 85px;
}

/*===========banner=============*/
div.banner {
  background: url("../images/bg_banner.jpg") repeat-x top left;
  padding-top: 2px;
}

div.banner img {
  width: 1150px;
  display: block;
  margin: 0 auto;
}

/*===========wrap_noti=============*/
div.wrap_noti {
  background: #e3f9ff;
  padding: 45px 0 25px 0;
}

div.wrap_noti .title_noti {
  text-align: left;
  border-bottom: 3px solid #fff;
  margin-bottom: 20px;
  overflow: hidden;
  padding-bottom: 5px;
}

div.wrap_noti .title_noti img {
  float: left;
}

div.wrap_noti .title_noti a img {
  float: right;
  margin-top: 5px;
}

.dl_noti {
  line-height: 1.6em;
}

.dl_noti dt {
  float: left;
}

.dl_noti dd {
  padding-left: 110px;
  padding-bottom: 15px;
  margin-bottom: 20px;
  border-bottom: 1px solid #91a4d0;
  text-align: left;
}

/*===========content=============*/
.title_ct_01 {
  padding: 60px 0 40px;
  margin: 0 auto;
  display: block;
}

.img1_ct {
  float: left;
  width: 426px;
}

.img3_ct {
  float: right;
  width: 495px;
}

.img2_ct {
  float: right;
  width: 495px;
  margin-bottom: 30px;
}

/*===========box_blue=============*/
.box_blue {
  background: #e3faff;
  overflow: hidden;
  padding: 30px 20px;
  margin-bottom: 50px;
}

.box_blue h2 {
  border-bottom: 2px solid #15248a;
  text-align: left;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

.box_left {
  float: left;
  width: 600px;
}

.box_left table {
  margin-top: 20px;
}

.box_left table td {
  vertical-align: top;
  text-align: left;
}

.box_left table td span {
  color: #b51212;
}

.box_left table td img {
  padding-right: 10px;
}

.box_right {
  float: right;
  width: 310px;
  text-align: left;
}

.box_right table {
  margin-top: 27px;
}

.box_right table td {
  font-weight: bold;
  padding: 3px 20px 3px 0;
}

.box_right table td span {
  color: #b51212;
}

.box_right table td .last {
  padding: 0;
}

.left_map {
  float: left;
  width: 292px;
  margin-left: 100px;
}

.box_right_02 {
  float: right;
  width: 375px;
  margin-right: 85px;
}

.box_right_02 .bt_ct {
  text-align: center;
  margin-top: 25px;
}

.box_right_02 .logo_ct {
  margin-bottom: 30px;
  margin-top: 0;
}

.box_right_02 .box_text {
  margin-bottom: 15px;
}

.pd_bot {
  padding-bottom: 15px;
}

/*===========footer=============*/
footer {
  color: #666;
  background: #e3f9ff;
  padding: 45px 0 30px;
  margin-top: 50px;
  width: 100%;
  float: left;
}

footer .wrap_pageTop {
  margin: 0 auto;
  width: 122px;
  height: 0;
  position: relative;
}

footer .wrap_pageTop #page-top {
  position: absolute;
  top: -78px;
  *left: 0;
}

footer .ft_left {
  float: left;
  width: 230ppx;
}

footer .ft_left .logo_ft img {
  margin-bottom: 10px;
}

footer .ft_right {
  float: right;
  width: 555px;
  *width: 600px;
}

footer .ft_right ul {
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
  margin-right: 55px;
  *margin-right: 40px;
}

footer .ft_right ul li {
  list-style: url(../images/ft_bullet1.jpg);
  margin-left: 15px;
  padding-left: 5px;
  margin-bottom: 10px;
  text-align: left;
}

footer .ft_right ul li a {
  color: #666;
  *padding-left: 10px;
}

footer .ft_right ul li a:hover {
  text-decoration: underline;
}

footer .ft_right ul li ul {
  display: block;
  margin-top: 10px;
  margin-right: 0;
  *margin-left: 25px;
}

footer .ft_right ul li ul li {
  list-style: url(../images/ft_bullet2.jpg);
}

.copyright {
  text-align: center;
  background: #15248a;
  color: #fff;
  clear: both;
  padding: 3px 0;
}

/*# sourceMappingURL=maps/style.css.map */
