* {
  margin: 0;
  padding: 0;
}

body {
	font-size: 13px;
	color: #595959;
}

.container {
  width: 80%;
  margin: 0 auto;
  background-color: #121212;
}

.clear { clear: both; }

/*menu*/
.header {
  position: relative;
  background: url(../images/fill_header.jpg) no-repeat;
  height: 323px;
}

nav {
  position: absolute;
  list-style-type: none;
  bottom: 6%;
  left: 5%;
}
nav li {
  float: left;
  width: 145px;
}
nav a {
  text-decoration: none;
  display: block;
  text-align: center;
  margin-left: -18px;
  color: white;
  font-family: sans-serif;
  font-size: 17px;
}
nav img {
  width: 85%;
  height: 85px;
}

.logo {
    position: absolute;
    background: url(../images/logo.jpg);
    top: 53px;
    left: 38px;
    width: 341px;
    height: 115px;
}

.logo p {
    font-family: sans-serif;
    font-size: 37px;
    font-weight: bold;
    margin-left: 100px;
    margin-top: 50px;
}

#dot{color: #595959;}

/*content*/
.content{
	margin-top:5%;
	padding-bottom: 5%;
}

/*content-left*/
.content-left{width: 28%; float: left;}

.wrap{
	height: 70%;
	background: #232325;
	margin-left: 14%;
}

.wrap-content{
	padding-top: 15%;
	padding-left: 10%;
	padding-right: 10%;
	height: 340px;
}


.wrap-text{
	margin-top: 10%;
	border-top: 1px solid #707070;
	padding-top: 8%;
	padding-bottom: 30%;
}	

/*wrap-list*/
.wrap-list{
	border-top: 1px solid #404342; 
	padding-top: 15%;
	padding-left: 10%;
}
.wrap-list a{ color: #707070;}

.wrap-list ul li {
  list-style: url(../images/arr.gif) inside;
  margin-bottom: 10px;
}

/*content-right*/
.content-right{width: 68%; float: right; }

.frame {width: 55%; padding-top: 8%;}

.frame-text{
	padding-top: 2%;
	padding-left: 2%;
}

.frame-text input{
    width: 116px;
    height: 23px;
    background-color: #2c2c2c;
    border: none;
}

.frame-text p{
	padding-top: 2%;
	border-bottom: 1px dashed #2c2c2c;
	padding-bottom: 4%;
}

/*launch web*/
.launch-web{padding-left: 2%;}
.launch-web a { text-decoration: none; color: #595959; }
#launch-web-image{ float: left; padding-top: 4%;}
#launch-web-link{float: left; padding-left: 1%; padding-top: 3%; color: white;}

/*footer*/
.footer{
	padding-bottom: 8%; 
	margin-left: 4%;
	margin-right: 30.5%;
	border-top: 1px dashed #2c2c2c;
	padding-top: 2%;
}
.footer a{ color: #595959;}
.footer p {margin-left: 1%;}

