html, div, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset,
iframe, form, label, legend, caption, tbody, tfoot, thead, body, body ol, body ul, body h1, body h2, body h3, header {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  padding: 0;
  outline: 0;
}

ol, ul {list-style: none;}
caption{font-weight: normal;text-align: left;}
blockquote:before, blockquote:after,q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}
a{ text-decoration:none; font-family:'Lucida Grande','Hiragino Kaku Gothic ProN',Meiryo, sans-serif;}
a img {border: 0;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}

img.aside_img_2:hover,
img.aside_img_3:hover,
img.aside_button:hover,
img.button_2:hover,
img.button_1:hover,
img.button_5:hover,
img.footer_button:hover,
.page_top a img:hover,
img.button_3:hover,
img.button_4:hover,
img.img_1:hover,
a.box_w_mx:hover
{
  opacity:0.6;
  filter:alpha(opacity=60);
}

body {
  color: #715a44;
  font-family: 'Lucida Grande','Hiragino Kaku Gothic ProN',Meiryo,sans-serif;
  font-size: 13px;
  background:#fff;
  -webkit-text-size-adjust:100%;
}
.clear{
  clear:both;
}

div.header {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  display:block;
  float:left;
  z-index:99;
  position:relative;
  background:url(../images/bg_top.png) repeat-x left top;
}

div.inner {
  margin: 0 auto;
  width: 100%;
  height:auto;
  display:block;
  min-width:960px;
  max-width:960px;
  position:relative;
  clear:both;
}

div.header-left {
  width: 740px;
  text-align: left;
  float: left;
}

div.header_right {
  width: 220px;
  float: right;
  font-size: 10px;
}

.open_work {
  width: 220px;
  background: url(../images/header_info_1.jpg) no-repeat top left;
  display: inline-block;
  padding-left: 35px;
}

.address_work {
  width: 220px;
  background: url(../images/header_info_2.jpg) no-repeat top left;
  display: inline-block;
  padding-left: 35px;
}

ul.menu_header {
  display: inline-block;
  width: 960px;
  height: auto;
  clear: both;
  padding: 0;
  margin-top: 30px;
}

ul.menu_header li {
  display: inline-block;
  width: 159px;
  padding: 0;
  margin: 0;
  float: left;
  background: url(../images/line_menu.jpg) no-repeat top left;
}

ul.menu_header li a {
  width: 159px;
  height: 50px;
  min-width: 159px;
  min-height: 50px;
  padding: 0;
  margin-left: 1px;
}

.small-text-heade {
  font-size:12px;
}
img.logo_top {
  width:100%;
  max-width:401px;
  max-height:54px;
  margin:0 auto;
  text-align:center;
}

/*=======banner=======*/
div.banner {
  width: 100%;
  background: url(../images/bg_banner.jpg) repeat-x top center;
  text-align: center;
}

div.banner img {
  width: 100%;
  max-width: 960px;
  max-height: 360px;
  margin: 0 auto;
  text-align: center;
}




/*=======content=======*/
div.content{
  width:100%;
  max-width:670px;
  height:auto;
  float:left;
  margin-top: 40px;
}

div.article-index img.img_1_home {
  width:100%;
  max-width:671px;
  max-height:142px;
  margin:0 auto;
  text-align:center;
}

div.article_index{
  width:100%;
  height:auto;
  text-align:center;
}

h2.title_home {
  height:35px;
  line-height:35px;
  *height:25px;
  *line-height:25px;
  *padding-top:10px;
  vertical-align:center;
  text-align:left;
  border-top: 2px solid #ff8b0a;
  border-bottom: 1px solid #d9cbb2;
  margin:20px 0;
  font-weight:1;
  font-size:16px;
  padding-left:2px;
  color:#a89d93;
}

.text_left {
  text-align:left;
}
.img_right {
  float:right;
  margin-left:20px;
}
.img_left {
  float:left;
  margin-right:20px;
}
.button1_home {
  background:url(../images/menu_1.png) no-repeat left center;
}
.button1_home img{
  margin-top: 20px;
}

.button2_home {
  text-align:center;
  display:inline-block;
  *display:inline;
  margin-top:20px;
}
.content_left {
  text-align:left;
  height:auto;
  display:inline-block;
  margin-bottom: 30px;
}

ul.list_1,ul.list_2 {
  display:inline-block;
  text-align:center;
  margin:0 auto !important;
}
ul.list_1 li{
  display:inline-block;
  float:left;
  width:212px;
  text-align:left;
  font-size:12px;
  vertical-align:top;
}
ul.list_1 li.li_2{
  margin:0 5px;
}

.list_1 li p {
  margin-top:-80px;
  padding:0 5px;
}

.section_list2 {
  margin:0 auto;
  position:relative;
  width:auto;
  text-align:center;
  padding:10px 10px;
  background-color:#f8f2e7;
}

ul.list_2 li{
  width:280px;
  max-width:280px;
  min-height:80px;
  display:inline-block;
  *float:left;
  text-align:left;
  font-size:11px;
  border:1px solid #e9dfd9;
  border-radius:15px;
  -moz-border-radius:15px;
  -o-border-radius:15px;
  -webkit-border-radius: 15px;
  margin:10px 5px 10px 10px;
  padding:10px 5px;
  background-color:#fff;
  vertical-align:top;
}
ul.list_2 li.li_first{
  margin-right:14px !important;
}

.back_list {
  width:100%;
  text-align: right;
  margin-top:-47px;
  *margin-top:-47px;
}

dl.history_home {
  display:inline-block;
  width:100%;
  margin-top:10px;
  *display:inline;
}
dl.history_home dt {
  display:inline-block;
  *display:inline;
  float:left;
  padding:10px 15px;
  width:20%;
  height:auto;
  line-height:14px;
  vertical-align:top;
  border-bottom:1px dotted #CCC;
  clear:left;
  background:url('../images/img_bullet.jpg') no-repeat 10px center;
  }
dl.history_home dd {
  width:75%;
  *margin-top:-35px;
  vertical-align:top;
  padding:10px 15px;
  border-bottom:1px dotted #CCC;
  line-height:14px;
  }
dl.history_home .border_none {
  border:none;
}

/*=======aside=======*/
div.aside {
  float:right;
  width:250px;
  height:auto;
  margin-top: 20px;
}

.aside-menu {
  width:100%;
  background:url(../images/aside_bg_ul.jpg) repeat-y left top;
  margin-top:25px;
  text-align:center;
  padding:0 0 10px 0;
}

ul.aside_menu_1 {
  display:block;
}

ul.aside_menu_1 li {
  display:block;
  width:220px;
  min-width:220px;
  height:30px;
  line-height:30px;
  background:url(../images/aside_bg_li.png) no-repeat top center;
  margin:5px auto;
  text-align:left;
}

ul.aside_menu_1 li a {
  padding-left:30px;
  color:#ee840e;
  font-size:12px;
}

.text_bold_nguyet, .text_bold_yellow {
  font-weight:bold;
}

.margin_p {
  margin-top:40px;
}
.margin_p img {
  display:block;
}

.aside_information {
  height:500px;
  background:url(../images/aside_bg_2.jpg) no-repeat left top;
  text-align:center;
  padding:10px;
}
span.title1_as_info {
  font-size:15px;
}
span.title2_as_info {
  font-size:12px;
}
.info_content {
  margin-top:10px;
  text-align:left;
}

.aside_camp_round {
  width:96%;
  padding:5% 2%;
  text-align:center;
  border:1px solid #CCC;
  -border-radius:15px;
  -moz-border-radius:15px;
  -o-border-radius:15px;
  -webkit-border-radius: 15px;
}
.aside_camp {
  width:98%;
  background:url(../images/aside_bg_ul.jpg) repeat-y left top;
  margin-top:0px;
  text-align:center;
  margin:0 auto;
  padding-top:10px;
}

/*=======footer=======*/

div.footer{
  background:url(../images/footer_bg.jpg) repeat-x left top;
  margin: 60px auto 0 auto;
  padding: 30 0 0 0;
  width: 100%;
  display:block;
  height:auto;
  float:left;
  z-index:99;
  position:relative;
  height:225px;
}

div.footer .inner{
  vertical-align:center;
}

ul.footer_list1 {
  margin-left:40px;
}
ul.footer_list1 ,ul.footer_list2{
  float:left;
  margin-right:20px;
  display:block;
  width:180px;
  *margin-top:40px;
}

ul.footer_list1 li, ul.footer_list2 li{
  display:block;
  text-align:left;
}
ul.footer_list1 li a, ul.footer_list2 li a{
  padding-left:15px;
  background:url(../images/footer_butllet.jpg) no-repeat left center;
  color:#715a44;
}
.footer_right {
  float:right;
  width:480px;
  display:block;
  position:relative;
  margin-top:70px;
}
.footer_left {
  display:inline-block;
  *display:inline;
  margin-top:40px;
}

p.copyright {
  clear: both;
  width: 100%;
  height: 50px;
  line-height: 50px;
  display: block;
  vertical-align: bottom;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  background-color: #D2C1A5;
  margin: 0;
}

#page-top {
    bottom: 20px;
    position: fixed;
    right: 200px;
    z-index: 500;
}

/*#page-top a {
    display: block;
    padding: 15px 0;
    width: 80px;
}
*/