body{
	margin: 0 auto;
	text-align: center;
	width: 700px;
	font-family: Arial;
}

#header{
	margin-top: 3%;
	font-size: 30px;
	margin-left: 10%;
}

#left{
	font-size: 30px;
	float: left;
	margin-top: 22%;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
}

#footer{
	font-size: 30px;
	margin-left: 5%;
}